body{text-align: center;}
#potBet{font-size: 2rem;}
#bet{margin: 10px auto; height: 50px; width: 200px; text-align: center; font-size: 1.5rem;}
#betList{margin: 10px auto;}
ol{margin: auto; padding-left: 20px; width: 100px;}