body{font-family: Georgia, 'Times New Roman', Times, serif;}
main{display: none;}
h1{font-size: 2rem; text-align: center; color: #264653;}
#backContainer{text-align: center; margin-bottom: 10px;}
#choose{font-size: 1.5rem; text-align: center; color: #e76f51;}
.difficulty{display: block; width: 200px; text-align: center; font-size: 1.25rem; margin: 20px auto 0 auto; padding: 20px; border: solid 2px #264653; color: #FFFFFF; background-color: #2a9d8f;}
.difficulty:active{background-color: #e9c46a; color: #264653;}
.left, .right{text-align: center;}
#label{display: inline-block; text-align: center; color: #e76f51; font-size: 1.1rem;}
#guess{display: inline-block; text-align: center; height: 3rem; width: 300px; margin: 1% auto; font-size: 2.5rem; color: #264653;}
.button{margin: 5px 5px 10px 5px; padding: 10px; width: 120px; border: solid 1px #264653; color: #FFFFFF; background-color: #2a9d8f; text-align: center;}
.button:active{background-color: #e9c46a; color: #264653;}
.dataLeft, .dataRight{display: inline-block; width: 35%; margin: 10px 10px 0 10px; color: #264653; font-size: 1.25rem;}
.dataLeft{text-align: right; color: #264653}
.dataRight{text-align: left; color: #e76f51;}
#guessList{margin: 10px auto 5px auto; color: #2a9d8f; font-size: 1.5rem;}
#list{width: 300px; height: 150px; border: solid 1px #264653; margin: auto; padding: 10px 5px; overflow: auto;}
li{font-size: 1.5rem; width: 225px; margin: auto;}